<h3>Produce and Services</h3>
<p>In Axminster:</p>
<div class="row">
  <div class="col-sm-6">
    <ul>
      <li>Complete Meats</li>
      <li>Punch and Judy bakery</li>
      <li>Fishmonger</li>
      <li>Co-op</li>
      <li>Tesco</li>
      <li>Millers Farm Shop</li>
      <li>WI market on Thursdays</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul>
      <li>Surgery</li>
      <li>Banks (Lloyds, NatWest)</li>
      <li>Post Office</li>
      <li>Pharmacy</li>
      <li>Train Station</li>
      <li>Cab hire</li>
      <li>Buses</li>
    </ul>
  </div>
</div>