<h3>Towns and Houses to Visit</h3>
<ul>
  <li>Lyme Regis and Bridport: artisan shopping, cinema, art galleries.</li>
  <li><%= link_to 'Forde Abbey', 'http://www.fordeabbey.co.uk',target: '_blank'%></li>
  <li><%= link_to 'Montacute House','http://www.nationaltrust.org.uk/montacute-house/',target: '_blank'%></li>
  <li><%= link_to 'Barrington Court', 'http://www.nationaltrust.org.uk/barrington-court/', target: '_blank'%></li>
  <li><%= link_to 'Lytes Cary', 'http://www.nationaltrust.org.uk/lytes-cary-manor/', target: '_blank' %></li>
</ul>
