<div class="row">
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Nearby Pubs
      </h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="http://www.oldinnkilmington.co.uk/" target="_blank">* The Old Inn, Kilmington</a></li>
        <li><a href="http://www.cotleyinnwambrook.co.uk/" target="_blank">* The Cotley Inn, Cotley</a></li>
        <li><a href="http://www.tripadvisor.co.uk/Hotel_Review-g2099835-d1815145-Reviews-Tuckers_Arms-Dalwood_Devon_England.html" target="_blank" >* The Tuckers Arms, Dalwood</a></li>
        <li><a href="http://www.georgeinnchardstock.co.uk/" target="_blank">The George Inn, Charstock</a></li>
        <li><a href="http://www.tytherleigharms.com/" target="_blank">The Tytherleigh Arms</a></li>
        <li><a href="http://www.shipinnaxmouth.co.uk/" target="_blank">The Ship Inn</a></li>
        <li><a href="http://www.barleymowsfarmshop.co.uk/" target="_blank">Barleymows FarmShop</a></li>
      </ul>
      <p>From experience the pubs marked with * also serve delicious, affordable food.</p>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Restaurants in Axminster
      </h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="http://www.lepisani.com/menus.html">Le Pisani</a></li>
        <li><a href="http://www.rivercottage.net/canteens/axminster/">River Cottage</a></li>
        <li><a href="http://www.archwaybookshop.co.uk/">The Archway Bookshop Café</a></li>
        <li><a href="http://www.cinnamonsindianrestaurant.co.uk/">Cinnamons Indian Restaurant</a></li>
        <li><a href="http://the-lemon-plaice.food-and-drink.axminster.tel/">The Lemon Plaice, Fish and Chips</a></li>
      </ul>
    </div>
  </div>
</div>
</div>

