
<p>As long as the Countryside Code is adhered to the fields are free to roam in. If you fancy some orienteering with an OS map there are many footpaths accessible from the farms fields. A drive away: Lamberts Castle, Pilsdon Pen, Chard Reservoir, Charmouth (coastal path along this stretch of coast), Golden Cap. </p>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Walks</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Lamberts Castle</li>
          <li>Pilsdon Pen</li>
          <li>Chard Reservoir</li>
        </ul>
        <p>NB: These walks are a short drive away</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Beaches</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Charmouth (coastal path along this stretch of coast) </li>
          <li>Golden Cap</li>
          <li>Beer</li>
          <li>Branscombe</li>
          <li>Chessil Beach</li>
        </ul>    
      </div>
    </div>
  </div>
</div>


