<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h2>About Fordwater Farm</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">

    <p>Originally thatched, the main farmhouse of Fordwater Farm was built in the 15th century using traditional Devon stone. The surrounding outbuildings along with the house are Grade II listed. One of its more interesting residents over the years was Henry Coles (unrelated) who, by using the ‘Ciderbarn' next to the main farmhouse as a cider press for apples gathered from the surrounding orchards, made a famous local cider. We still come across old cider bottles lying around the farm with 'Coles' printed on the neck.</p>
    <p>Our grandmother, the late Dorothy Cowper-Coles, bought the house in 1982 to be near her brothers who were starting a dairy farm in the neighbouring village of Alston. A passionate lover and owner of dogs and horses herself, she loved living in Devon and took great pleasure in having grandchildren visit and enjoy the area also. All the fields surrounding Fordwater are grazed by the dairy herd. </p>
    <p>Dorothy did not want Fordwater to be sold or broken up after she died. Instead, she wanted it to be passed on to, and enjoyed by, another generation of her family. In keeping with her wishes, we as her grandchildren have decided to fund its upkeep by letting the house out as self-catered holiday accomodation. Fordwater is perfect for anyone looking for an authentically-shabby traditional Devon farmhouse, surrounded by tumbledown barns once used by the dairy herd and lush green fields deep in the beautiful English countryside.</p>
  </div>
  <div class="col-sm-6">
    <%= image_tag 'about.jpg'%>
  </div>
</div>

