<div class="row">
  <div class="col-sm-12">
    <h2>About Fordwater Farm</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>The house was built in the 15th Century using the traditional Devon stone and was originally thatched. It, and the barns around it are listed. Back in the day, it was the residence of Henry Coles (unrelated) who used the surrounding orchards to make cider. The Ciderbarn adjacent to the main house is an original ciderpress. We still come across old cider bottles lying around the farm with 'Coles' printed on the neck.</p>
    <p>Our Granny, the late Dorothy Cowper-Coles was persuaded to buy the house in 1982 by her brother who was starting a farming business in the neighbouring village of Alston and wanted all the fields surrounding it. As a result, two generations of family have now farmed the area and we as Dorothy's grandchildren have had the luxury of being able to visit and enjoy this wonderful house and its fields. The barns include an old dairy where the cows used to be milked when the herd was small.</p>
    <p>Dorothy did not want the house to be sold on so passed it on to the family. It is our responsibility now to fund the upkeep of the house and barns and we think a good way to do this is to let it out as a self-catered guest house. </p>
    <p>We appreciate it is not up to commercial holiday standards and it has it's quirks but we are hoping that for people who want to come and enjoy the countryside, it is just what they are looking for.</p>
  </div>
  <div class="col-sm-6">
    <%= image_tag 'front-of-house-2.jpg'%>
  </div>
</div>

