
<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h2>Facilities</h2>
    </div>
    <p>The house is very old and Dorothy wanted to preserve its period features, so it has fewer appliances than you might expect in a house these days: we hope that visitors can appreciate that this is part of staying in an old house.</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Kitchen
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Fridge/freezer</li>
              <li>Gas cooker and grill</li>
              <li>Kitchen table</li>
              <li>Full Cutlery and crockery sets</li>
            </ul>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Dining Room
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Large dining table (seats XXX)</li>
              <li>Sofa & Armchair</li>
              <li>TV, video and DVD player</li>
              <li>Woodburner</li>
              <li>Telephone & Wifi</li>
            </ul>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Dogs/Wash Room
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Washing Machine</li>
              <li>Tumble Dryer</li>
              <li>Extra Fridge</li>
              <li>Boiler</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Bedrooms
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>2 x Double Rooms</li>
              <li>1 x Single Room</li>
              <li>1 x Twin Room</li>
              <li>Extra matresses and space on floor if you wish to sleep more</li>
              <li>Towels, and bedding provided (if a little mismatched).</li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Sitting Room
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>Open Fire</li>
              <li>Tables and Sofas</li>
            </ul>
          </div>
        </div>



        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Bathrooms
            </h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>2 Bathrooms upstairs (1 with bath)</li>
              <li>1 Bathroom downstairs with shower</li>
            </ul>
          </div>
        </div>

      </div>
    </div>




    <p>N.B. All facilities in the house have instructions next to them and further instructions to do with bedding are detailed in the pdf which we send to people once they have booked.</p>
  </div>
  <div class="col-sm-6">
    <h2>&nbsp;</h2>
  </div>
</div>
