<div class="row">
  <div class="col-sm-12">
    <h2>Facilities</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>The house is very old and (our Gran-can you think of a better expression?) never bothered with gadgets so it hasd less facilities than most holiday accommodation.</p>
    <div class="row">
      <div class="col-sm-6">
        <h3>Kitchen</h3>
        <ul>
          <li>Fridge/freezer</li>
          <li>Gas cooker and grill</li>
          <li>Kitchen table</li>
          <li>Full Cutlery and crockery sets</li>
        </ul>
        <h3>Dining Room</h3>
        <ul>
          <li>Large dining table (seats XXX)</li>
          <li>Sofa & Armchair</li>
          <li>TV, video and DVD player</li>
          <li>Woodburner</li>
          <li>Telephone & Wifi</li>
        </ul>
        <h3>Dogs/Wash Room</h3>
        <ul>
          <li>Washing Machine</li>
          <li>Tumble Dryer</li>
          <li>Extra Fridge</li>
          <li>Boiler</li>
        </ul>
      </div>

      <div class="col-sm-6">
        <h3>Sitting Room</h3>
        <ul>
          <li>Open Fire</li>
          <li>Tables and Sofas</li>
        </ul>
        <h3>Bedrooms</h3>
        <ul>
          <li>2 x Double Rooms</li>
          <li>1 x Single Room</li>
          <li>1 x Twin Room</li>
          <li>Extra matresses and space on floor if you wish to sleep more</li>
        </ul>
        <h3>Bathrooms</h3>
        <ul>
          <li>2 Bathrooms upstairs (1 with bath)</li>
          <li>1 Bathroom downstairs with shower</li>
        </ul>
      </div>
    </div>



    <p>Towels, and bedding provided (if a little mismatched).</p>
    <p>N.B. All facilities in the house have instructions next to them and further instructions to do with bedding are detailed in the pdf which we send to people once they have booked.</p>
  </div>
  <div class="col-sm-6">
    <h2>&nbsp;</h2>
  </div>
</div>
