<div class="row">
  <div class="col-sm-4">
    <p>Welcome to Fordwater Farm. An old family farmhouse located in picturesque Devon.</p>
    <p>Offering self-catered accommodation for large and small families, friends and pets.</p>
    <p>Perfect for a quiet weekend away or a longer holiday.</p>
    <p>For more information or to book please email: <a href="mailto:isobel.cowpercoles@gmail.com">isobel.cowpercoles@gmail.com</a></p>
  </div>
  <div class="col-sm-8">
    <%= image_tag 'front-of-house.jpg'%>
  </div>
</div>