<% content_for :head, 'How to get there'%>
<div class="page-header">
  <h2>How to get there</h2>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= image_tag 'how-to-get-there.jpg' %>
  </div>
  <div class="col-sm-6">
    <p class="lead">More information about travel will be given upon booking.</p>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          By Car:
        </h4>
        <p>As Fordwater Farm is not in a town or village, a car is pretty much essential for any visit. Located roughly 10 minutes away from central Axminster, Fordwater can be reached from London in about 3.5 hours.</p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">By Train:</h4>
        <p>Good services run to Axminster station from all over the country and is direct from London Waterloo. See: <%= link_to 'www.nationalrail.co.uk ', 'www.nationalrail.co.uk ', target: '_blank' %></p>
      </div>
    </div>

  </div>

</div>
