<% content_for :head, 'How to get there'%>
<div class="page-header">
  <h2>How to get there</h2>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= image_tag 'how-to-get-there.jpg' %>
  </div>
  <div class="col-sm-6">
    <p>As towns can only be accessed via the main road and you can visit more of the sites if you have a car, we advise you take your own or hire.</p>
    <p>Good services run to Axminster station from all over the country and is direct from London Waterloo. See: <%= link_to 'www.nationalrail.co.uk','http://www.nationalrail.co.uk/',target:'_blank'%>.</p>
        <p class="lead">More information about travel will be given upon booking.</p>
  </div>
</div>
