<h2>How to get there</h2>

<p>As towns can only be accessed via the main road and you can visit more of the sites if you have a car, we advise you take your own or hire.</p>
<p>Good services run to Axminster station from all over the country and is direct from London Waterloo. See: <%= link_to 'www.nationalrail.co.uk ', 'www.nationalrail.co.uk ', target: '_blank' %></p>
<p>More information upon booking can be given.</p>