<% content_for :head, 'Information'%>

<div class="page-header">
  <h2>Information for Guests</h2>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>We ask that guests leave the house how they would like to find it if they were the next guest. This simply means cleaning up any mess you make, disposing of perishable foods and giving the bathrooms and kitchen a wipe-over.</p>
    <p>We periodically do a thorough clean of the house of the type that we do not expect guests to do at all.</p>
    <p>Not wanting to ruin the character of the house, and as it is still used by us, we have left photographs, ornaments and books. We ask that guests respect them and replace things where they found them.</p>
    <p>To book, please email <a href="mailto:isobel.cowpercoles@gmail.com">isobel.cowpercoles@gmail.com</a></p>
  </div>
  <div class="col-sm-6">
    <%= image_tag 'info.jpg'%>
  </div>
</div>
