<div class="row">
  <div class="col-sm-12">
    <h2>Local Attractions</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>One of the main attractions of the house is the beautiful area it is set in and its proximity to local pubs, restaurants, market towns, National Trust property and the famous and stunning Jurassic Coast. So, here is a list of some ideas for places to visit:</p>
    <h3>To Eat and Drink</h3>
    <ul>
      <li><a href="http://www.oldinnkilmington.co.uk/">* The Old Inn, Kilmington</a></li>
      <li><a href="http://www.cotleyinnwambrook.co.uk/">* The Cotley Inn, Cotley</a></li>
      <li><a href="http://www.tripadvisor.co.uk/Hotel_Review-g2099835-d1815145-Reviews-Tuckers_Arms-Dalwood_Devon_England.html">* The Tuckers Arms, Dalwood</a></li>
      <li><a href="http://www.georgeinnchardstock.co.uk/">The George Inn, Charstock</a></li>
    </ul>
    <p>From experience the pubs marked with * also serve delicious, affordable food.</p>
    <h3>To Eat</h3>
    <p>Neaby</p>
    <ul>
      <li><a href="http://www.tytherleigharms.com/">The Tytherleigh Arms</a></li>
      <li><a href="http://www.shipinnaxmouth.co.uk/">The Ship Inn</a></li>
      <li><a href="http://www.barleymowsfarmshop.co.uk/">Barleymows FarmShop</a></li>
    </ul>
    <p>In Axminster</p>
    <ul>
      <li><a href="http://www.lepisani.com/menus.html">Le Pisani</a></li>
      <li><a href="http://www.rivercottage.net/canteens/axminster/">River Cottage</a></li>
      <li><a href="http://www.archwaybookshop.co.uk/">The Archway Bookshop Café</a></li>
      <li><a href="http://www.cinnamonsindianrestaurant.co.uk/">Cinnamons Indian Restaurant</a></li>
      <li><a href="http://the-lemon-plaice.food-and-drink.axminster.tel/">The Lemon Plaice, Fish and Chips</a></li>
    </ul>
    <h3>To Walk</h3>
    <p>As long as the Countryside Code is adhered to the fields are free to roam in. If you fancy some orienteering with an OS map there are many footpaths accessible from the farms fields.
      A drive away: Lamberts Castle, Pilsdon Pen, Chard Reservoir, Charmouth (coastal path along this stretch of coast), Golden Cap. </p>
    <ul>
      <li>Lamberts Castle</li>
      <li>Pilsdon Pen</li>
      <li>Chard Reservoir</li>
      <li>Charmouth (coastal path along this stretch of coast)</li>
      <li>Golden Cap</li>
    </ul>
    <h3>Towns and Houses to Visit</h3>
    <ul>
      <li>Forde Abbey</li>
      <li>Lyme Regis</li>
      <li>Bridport</li>
      <li>West Bay</li>
    </ul>
    <h3>Produce and Services</h3>
    <p>Axminster</p>
    <div class="row">
      <div class="col-sm-6">
        <ul>
          <li>Complete Meats</li>
          <li>Punch and Judy bakery</li>
          <li>Fishmonger</li>
          <li>Co-op</li>
          <li>Tesco</li>
          <li>Millers Farm Shop</li>
          <li>WI market on Thursdays</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <li>Surgery</li>
          <li>Banks (Lloyds, NatWest)</li>
          <li>Post Office</li>
          <li>Pharmacy</li>
          <li>Train Station</li>
          <li>Cab hire</li>
          <li>Buses</li>
        </ul>
      </div>
    </div>
    <ul>

    </ul>
  </div>
  <div class="col-sm-6"></div>
</div>
